---
import { Icon } from '@astrojs/starlight/components'

const { icon, title } = Astro.props
---

<article class="rounded-xl border border-gray-200 p-4 min-h-36">
	<div class="flex gap-2 items-center">
		{
			icon && (
				<div class="bg-slate-100 border-slate-300 border p-1.5 rounded-lg">
					<Icon name={icon} class="icon" size="1em" class="text-slate-700" />
				</div>
			)
		}
		<span set:html={title} class="font-medium text-lg" />
	</div>
	<div class="text-sm leading-relaxed"><slot /></div>
</article>
