---
interface Props {
	name: string
	optional?: boolean
	required?: boolean
	type: string
}
const { name, optional, required, type } = Astro.props

const markers = [
	{
		text: 'Required',
		isEnabled: required,
		style: 'text-orange-800 bg-orange-100'
	},
	{
		text: 'Optional',
		isEnabled: optional,
		style: 'bg-gray-100 dark:bg-gray-700 dark:text-gray-300'
	}
]
---

<div class="not-content">
	<div class="py-4 border-t border-gray-200">
		<div class="flex items-center mb-2">
			<h4 class="font-semibold text-gray-900 mr-2 py-1">{name}</h4><p
				class="text-gray-500"
			>
				{
					markers
						.filter(({ isEnabled }) => isEnabled)
						.map(({ text, style }) => (
							<span
								class:list={[
									'iv-status-pill flex-shrink-0 inline-flex items-center h-6 px-2 text-[12px] font-medium rounded-xl leading-4 relative -top-px ml-1 bg-gray-100 dark:bg-gray-700 dark:text-gray-300',
									style
								]}
							>
								{text}
							</span>
						))
				}
			</p>
		</div><p class="text-gray-500 mb-2">
			<span class="font-mono text-[13px] text-gray-500">{type}</span>
		</p><div class="text-gray-600 leading-5">
			<slot />
		</div>
	</div>
</div>

<style></style>
