/* Generated via: https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor */
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #0a2346;
	--sl-color-accent: #0064d2;
	--sl-color-accent-high: #abcbf8;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c1d9fb;
	--sl-color-accent: #0066d6;
	--sl-color-accent-high: #043068;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}

:root {
	--sl-content-width: 44rem;
}

/* The SVG is always inside <p> element */
.mermaid-center p {
	display: flex;
	justify-content: center;
}

.site-title img {
	padding: 0.5rem 0;
}

/* due to tailwind defaults reset */
.sl-markdown-content ul:not(:where(.not-content *)) {
	list-style: disc;
	margin: 0.5em !important;
	padding: 0 0 0 20px;
}

h1 {
	font-size: 1.5rem;
}

.sl-markdown-content h2 {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
}

.sl-markdown-content h3 {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

/* Do not use lower values than h3. h4 is there as backwards compatibility fix */
.sl-markdown-content h4 {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.sl-markdown-content h5 {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.sl-markdown-content h6 {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

article.card {
	padding: 20px;
	border-radius: 16px;
	border-color: #dedede;
}

.content-panel {
	border-top: 0 !important;
}

.right-sidebar {
	border: 0;
}

header.header {
	background: var(--sl-color-bg);
	border-bottom: 1px solid var(--sl-color-hairline);
}

.sidebar-pane {
	border-right: 1px solid var(--sl-color-hairline);
	background: var(--sl-color-bg);
}

.sl-markdown-content
	:not(h1, h2, h3, h4, h5, h6)
	+ :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
	margin-top: 4em;
}
